.container {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.container_within {
    width: 85% 85%; 
    height: auto;
}

.topbar {
    text-align: center;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px;
}