<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookings</title>
    <link rel="stylesheet" href="static\stylesheets\bookings.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="container_within">
            <div class="topbar">
                <h1>ForeignLashes</h1>                <!-- Placeholder -->
        <!-- ForeignLashes logo in the middle with glow and hilights -->
            </div>
            <div>
                <ul class="navigation">
                    <li><a href="/">Home</a></li>
                    <li><a href="/services">Services & Pricing</a></li>
                    <li><a href="/bookings">Bookings</a></li>
                    <li><a href="/mywork">My Work</a></li>
                    <li><a href="/aboutme">About Me</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <form>
                <div class="row">
                    <div class="col">
                        <label>First Name:</label>
                        <input type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="col">
                        <label>Last Name:</label>
                        <input type="text" class="form-control" placeholder="Last name">
                    </div>
                </div>
                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <label>Select Service</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Comments/Special requests</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>