<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="container">
    <nav class="nav nav-pills nav-fill">
        <a class="nav-link active" aria-current="page" href="/listings">All Listings</a>
        <a class="nav-link" href="/listings/new">Create New Listing</a>
        <a class="nav-link" href="/conversations">Messages</a>
        <a class="nav-link" href="/userprofile">My Profile</a>
        <a class="nav-link" href="/listings/user/{{session.user_id}}">My Listings</a>
        <a class="nav-link" href="/logout">Logout</a>
    </nav>
    <h1>No profile found</h1>
</div>
</body>
</html>