<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <nav class="nav nav-pills nav-fill">
            <a class="nav-link active" aria-current="page" href="/listings">All Listings</a>
            <a class="nav-link" href="/listings/new">Create New Listing</a>
            <a class="nav-link" href="/conversations">Messages</a>
            <a class="nav-link" href="/userprofile">My Profile</a>
            <a class="nav-link" href="/listings/user/{{session.user_id}}">My Listings</a>
            <a class="nav-link" href="/logout">Logout</a>
        </nav>
        <h1 class="mt-4">User Profile</h1>
        <div class="card mt-4" style="width: 32rem;">
            <img src="data:image/jpeg;base64,{{ profile.profile_picture }}" class="card-img-top" alt="Profile Picture">
            <div class="card-body">
                <h5 class="card-title">{{ profile.profile_name }}</h5>
                <p class="card-text">
                    <strong>Bio:</strong> {{ profile.bio }}<br>
                    <strong>Location:</strong> {{ profile.location }}<br>
                    <strong>Email:</strong> {{ profile.email }}<br>
                    <strong>Phone:</strong> {{ profile.phone }}
                </p>
                <a href="/profile/{{ profile.user_id }}/edit" class="btn btn-primary">Edit Profile</a>
            </div>
        </div>
    </div>
</body>
</html>
